@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
    width: 100%;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    width: 100%;
    margin: 0;
    padding: 0;
}

main {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 100px;
    /* ヘッダ分下げる */
}

h2 {
    margin: 20px 0;
    font-size: 1.5em;
    font-weight: bold;
}