    /* リセット */
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    th,
    td {
        margin: 0;
        padding: 0;
        border: 0;
    }

    /* テーブル */
    table {
        width: 100%;
        max-width: 1000px;
        margin: 20px auto;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        table-layout: fixed;
        border: 0;
        border-collapse: separate;
        border-spacing: 10px;
    }

    th,
    td {
        border: 0;
    }

    /* テーブルヘッダ（曜日）*/
    th {
        padding: 0;
        background-color: #223a70;
        color: #fff;
        text-align: center;
        border-radius: 10px;
    }

    /* セル */
    td {
        padding: 15px;
        text-align: left;
        background-color: #223a7023;
        border-radius: 5px;
        vertical-align: top;
    }

    .empty {
        background-color: #fff;
    }

    td:hover {
        background-color: #dfe9f3;
    }

    /* 時限の列を狭くする */
    /* 時限のテキストを中央揃え */
    th:first-child,
    td:first-child {
        width: 5%;
        text-align: center;
        font-weight: bold;
    }

    /* 曜日の列を均等に割り当てる */
    /* マウスポインタをクリック可能に見せる */
    th:not(:first-child),
    td:not(:first-child) {
        width: 19%;
        cursor: pointer;
    }

    /* 角を削除 */
    thead tr:first-child {
        background-color: #fff;
    }

    /* 講座名 */
    .course-name {
        font-weight: bold;
        color: #34495e;
    }

    /* 教員名 */
    .instructor-name {
        color: #555;
    }