    .container {
        display: flex;
        justify-content: space-between;
    }

    /* 左側のコンテナ */
    .sub-container {
        width: 40%;
    }

    /* 新規登録コンテナ */
    .signup-container {
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        width: 40%;
        margin: 0 auto;
        background-color: #f9f9f9;
    }

    /* 入力欄 */
    .signup-container input[type="text"],
    .signup-container input[type="email"],
    .signup-container input[type="password"] {
        width: 90%;
        padding: 10px;
        margin-bottom: 20px;
        border: 0px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    }

    /* GOボタン */
    .signup-container input[type="submit"] {
        width: 100%;
        padding: 10px;
        background-color: #223a70;
        color: white;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }

    .signup-container input[type="submit"]:hover {
        background-color: #19334d;
    }

    /* 新規登録リンク */
    .signup-container .register-link {
        margin-top: 10px;
        display: block;
        color: #223a70;
        text-decoration: none;
    }

    .signup-container .register-link:hover {
        text-decoration: underline;
    }

    /* エラーメッセージ */
    .error-message {
        width: 100%;
        text-align: center;
        color: red;
    }